﻿@model ChrisMarekPhotography.Models.CustomerModel


<div align="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        //by putting the term 'container' into the class, now the partial view will align to center finally!!!
        <div class="form-horizontal container  row">
            <fieldset class="customLegend1">
                <legend>NEWSLETTER SIGN-UP:</legend>

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <label asp-for="@Model.FirstName"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.FirstName" class="form-control" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <label asp-for="@Model.LastName"></label>
                    </div>

                    <div class="col-md-8">
                        <input asp-for="@Model.LastName" class="form-control" />
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <label asp-for="@Model.EmailAddress"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.EmailAddress" class="form-control" />
                        <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <label asp-for="@Model.ConfirmEmail"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.ConfirmEmail" class="form-control" />
                        <span asp-validation-for="@Model.ConfirmEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 offset-3">
                        <input type="submit" value="Submit" class="btn btn-default" id="register" />
                    </div>
                </div>
            </fieldset>
            <div>
                <fieldset class="customLegend2">
                    <legend>UpComing Events:</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td class="eventmessages">Birding at White Rock Lake</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Birding at University Southwest medical center rookery</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Birding at Village creek drying beds</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Birding at Bosque del Apache in New Mexico</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Native Texas wildflowers</td>
                            </tr>
                        </tbody>
                    </table>

                </fieldset>
            </div>
        </div>
    }
</div>
