﻿@using ChrisMarekPhotography;
@model PhotoViewModel

@foreach (IPhotoInformation info in Model.PhotoInformation)
{
    //Put this back in if you want photo description on mouse over
    @*<li class="imageDescription">
            <img src="@Url.Content(@info.ImagePath)" alt="Image" class="ssimage"asp-append-version="true" style="display: none">
            <div class="overlay">@info.ImageDescription</div>
        </li>*@

    <li class="slideshow center">
        <img src="@Url.Content(@info.ImagePath)" alt="Image" asp-append-version="true" class="ssimage">
    </li>
}