﻿@using ChrisMarekPhotography;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@using ChrisMarekPhotography.Models;

@model HeaderViewModel;


<div class="container center">
    <div class="banner" align="center">
        <img class="imageDescription" src="~/Images/HomeBanner.png" alt="chris marek photography" width="850" height="100" />
    </div>
    <div class="row">
        <div class="photography-nav slideshow-link">
            @Html.ActionLink("Home", "Home", "Home")
        </div>
        <div class="photography-nav portfolio-link">
            @Html.ActionLink("Portfolio", "Index", "Home")
        </div>
        <div class="photography-nav images-link">
            @Html.ActionLink("Images", "Images", "Home")
        </div>
        <div class="photography-nav about-link">
            @Html.ActionLink("About", "About", "Home")
        </div>
        <div class="photography-nav">
            @Html.ActionLink("Contact", "Contact", "Home")
        </div>
    </div>
</div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Ajax" asp-action="ToogleCaching" title="Click to toggle between Caching On/Off">@((Context.Session.GetString("__ApplicationCache") == "true") ? "On" : "Off")</a>
    </div>
    @if (Model.photosResult.HasErrors)
    {
        <table align="center" id="errors list">
            <tbody>
                <tr class="validation-message">
                    <td>Some errors have been found in the 'photos' folders</td>
                </tr>
                <tr class="validation-message">
                    <td>----------------------------------------------------</td>
                </tr>
                @foreach (string errors in Model.photosResult.ErrorMessages)
                {
                    <tr class="validation-message">
                        <td>@errors</td>
                    </tr>
                }
            </tbody>
        </table>
    }
