﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChrisMarekPhotography</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
<environment include="Development">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    @*the following boostrap.css was copied from my fullframework project to fix header links
       because the boostrap that came with the .NET Core project does not work (the one above)*@
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/toastr.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.structure.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.theme.css" />
     @*<link rel="stylesheet" href="~/css/site.min.css" />*@
</environment>

</head>
<body>
    <div>
        @await Component.InvokeAsync("Header")
        <br />
        <hr class="set-hr-width"/>
        <div>
            @RenderBody()
            <div class="center-align-text">&copy; Copyright Protected</div>
            <div class="signup" align="center">
                @*see the home.css for what footer id does*@
                <footer id="footer">
                    <br />
                    <hr class="set-hr-width"/>
                    <div>
                        @await Component.InvokeAsync("SignUp")
                        <p>
                            All of the images in this website are copyrighted original works by Chris Marek, and they are protected by the United States and international copyright law.
                            Use of any content from this site, for any purpose, is strictly forbidden without express, written permission from Chris Marek Photography.
                        </p>
                        <p>&copy; @DateTime.Now.Year - Chris Marek Photography</p>
                        <div>
                            <div><a href="https://www.flickr.com/photos/30888088@N02/">Visit my photos on flicker</a></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        @await Component.InvokeAsync("UrlMap")

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script src="~/lib/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/about.js" asp-append-version="true"></script>
        <script src="~/js/images.js" asp-append-version="true"></script>
        <script src="~/js/Portfolio.js" asp-append-version="true"></script>
        <script src="~/js/shared.js" asp-append-version="true"></script>
        <script src="~/js/SlideShow.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/modernizr-2.8.3.js" asp-append-version="true"></script>
    </environment>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
